<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}CRAU{% endblock %}</title>

        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/cpcomcrau/css/principal.css') }}" >
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/cpcomcrau/css/redmond/jquery-ui-1.10.3.custom.css') }}" >
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/cpcomcrau/css/redmond/jquery-ui-1.10.3.custom.min.css') }}" >
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <script type="text/javascript" src="{{ asset('bundles/cpcomcrau/js/jquery-1.9.1.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/cpcomcrau/js/jquery-ui-1.10.3.custom.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/cpcomcrau/js/jquery.ui.datepicker-fr.js') }}"></script>
    </head>
    <body>
        <div class="body">
            <div class="bandeau_titre">
                <div class="logo">&nbsp;</div>
                <div class="titre">&nbsp;</div>
            </div>
            <div class="content">
                {% block body %}{% endblock %}
                {% block result %}{% endblock %}
                {% block javascripts %}{% endblock %}
            </div>
        </div>
    </body>
</html>
