/* 
    Document   : principal
    Created on : 13 sept. 2012, 15:32:50
    Author     : Info_312_17
    Description:
        Purpose of the stylesheet follows.
*/
body {
    background: url("../images/fond-site.jpg") no-repeat scroll 50% 0 transparent;
    font-family: Arial,Verdana,Times,serif;
    font-size: 1em;
    color:#484B4E;
    margin: 0;
    padding: 0;
}

.body{
    position: relative;
    display: block;
    min-height: 550px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #fff;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 60px;
}

p.gras{
    margin-top: 50px;
    font-weight: bold;
}

p{
    display: inline-block;
}

li {
    text-decoration: none;
    list-style: none;
    font-size: smaller;
}

.bandeau_titre{
    position: relative;
    display: block;
    height: 100px;
    width: 1024px;
/*    background : url("../images/bandeau_titre.png") repeat-x;*/
}

.titre{
    position: absolute;
    display: block;
    left: 20px;
    top: 10px;
    height: 48px;
    margin: 10px;
    width: 405px;
    background : url("../images/titre.png") no-repeat ;
}

.content{
    position: relative;
    display: block;
    top: 0px;
}

.result{
    padding: 5px;
    overflow: auto;
}

.globalmessage{
    margin: 5px auto 15px;
    width: 600px;
    padding:10px;
    text-align: center;
    border-width: 1.5px;
    border-style: solid;
    font-size: 0.8em;
}

.globalerror{
    margin: 5px auto 15px;
    width: 600px;
    padding:10px;
    text-align: center;
    border-width: 1.5px;
    border-style: solid;
    font-size: 0.8em;
    background: url("../images/exclamation.png") no-repeat scroll 8px 50% #FFE3E3;
    border-color: #DD0000;
    color: #880000;
}

.globalerror li{
    font-size: 1em;
}

.globalinfo{
    background: url("../images/icon-info.png") no-repeat scroll 8px 10px #92B1FF;
    border-color: #012e3a;
    color: #035CAE;
}

.valider {
    float: right;
    background: url("../images/check-mock.png") no-repeat left #ebebeb;
    min-width: 100px;
    padding-left: 15px;
    margin-right:5px;
    margin-top:25px;
    margin-bottom: 10px;
}

.supprimer{
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
    float: right;
    background: url("../images/supprimer.gif") no-repeat center;
    display: inline-block;
    margin-right: 50px;
}

fieldset{
    border-color: #89d0e4;
    background-color: #e2f8ff;
    padding: 0px;
    margin: 0px;
}

span.hidden {
    display: none;
}

hr {
    margin-right: 50px;
    width: 310px;
    color: #89d0e4;
}

.date_perso {
    display: inline-block;
}

.ui-datepicker {
    font-size: 12px !important;
} 

/** FORMULAIRE */

form {
    margin-bottom: 50px;
}

#form legend {
    color: #89d0e4;
    font-weight: bold;
}

legend {
    color: #89d0e4;
    font-weight: bold;
}

#form fieldset{
    border-color: #89d0e4;
    background-color: #e2f8ff;
    padding: 0px;
    margin: 0px;
}

#form legend.light {
    color: #aac7cf;
}

#form fieldset.light{
    display: inline-block;
    border-color: #c0e2ec;
    background-color: #fafeff;
}

#form fieldset.light{
    display: inline-block;
    border-color: #c0e2ec;
    background-color: #fafeff;
    width: 100%;
}

legend.light {
    color: #aac7cf;
}

fieldset.light{
    display: inline-block;
    border-color: #c0e2ec;
    background-color: #fafeff;
}

fieldset.light{
    display: inline-block;
    border-color: #c0e2ec;
    background-color: #fafeff;
    width: 100%;
}


#formCol {
    margin:10px 10px;
}

#formCol .form_row {
    font-size: 0.8em;
    text-align: left;
    margin-left:5px;
    max-width: 655px;
    padding: 10px;
}

#formCol .form_row label{
    margin-right: 80px;
}

#formCol input.valider {
    float: right;
    background: url("../images/check-mock.png") no-repeat left #f0f0f0;
    min-width: 100px;
    padding-left: 15px;
    margin-right:5px;
    margin-top:25px;
}

#formCol input.annuler {
    background: url("../images/annuler.png") no-repeat left #ebebeb;
    min-width: 100px;
    padding-left: 15px;
    margin-left:10px;
}

#formCol .field_error ul li{
    color:#89d0e4;
    background: url("../images/exclamation.png") no-repeat left;
    list-style: none;
    padding-left: 25px;
}

.clear{
    clear:both;
}

/** TABLE */

table{
    border-collapse: collapse;
    border: 1px solid #CCCCCC;
    color: #484B4E;
    font-size: 12px;
    margin: 0;
    padding: 0;
    width: 100%;
}

caption{
    background-color: #e2f8ff;
    border-color: #CCCCCC #CCCCCC -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px 0;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    text-transform: uppercase;
    margin-top: 10px; 
}

th{
    border-collapse: collapse;
    border-color: #7f7f7f;
    border-style: solid;
    border-width: thin;
    padding: 3px;
    background-color: #89d0e4;
    color: #fff;
    text-align: center;
    font-size: 1em;
}

th.thUtilisateur {
    width: 250px;
    min-width: 250px;
}

tr{
    background-color: #FAFEFF;
}

.paire{
    background-color: #fafafa;
}

td{
    border-collapse: collapse;
    border-color: #7f7f7f;
    border-style: solid;
    border-width: thin;
    padding: 5px;
    text-align: right;
}

td.user {
    background-color: #E7F1F4;
    text-align: left;
}

td.services {
    text-align: left;
    font-weight: bold;
    background-color: #E2F8FF;
}

td.tdTacheDebut {
    text-align: left;
}

td.totalLigne {
    font-weight: bold;
}

td.tdTotalDebut {
    text-align: left;
    font-weight: bold;
}

td.tdTotalFin {
    font-weight: bold;
}

tr.totalService td {
    font-weight: bold;
    background-color: #d8d8d8;
}

tr.total {
    font-weight: bold;
    background-color: #89D0E4;
}

/** Code Couleur */
.codeCouleurVerifier {
    background-color: #ffc871 !important;
}

.codeCouleurErreur{
    background-color: #ff7171 !important;
}

.weekend {
    background-color: #a0a0a0 !important;
}

div.codeCouleurVerifier {
    display: inline-block;
    float: left;
    border-color: #CCCCCC;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    vertical-align: top;
    height: 20px;
    width: 45px;
}

div.codeCouleurErreur {
    display: inline-block;
    float: left;
    border-color: #CCCCCC;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    vertical-align: top;
    height: 20px;
    width: 45px;
}

div.weekend {
    display: inline-block;
    float: left;
    border-color: #CCCCCC;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    vertical-align: top;
    height: 20px;
    width: 45px;
}

div.rienASignaler {
    background-color: #ffffff;
    float: left;
    display: inline-block;
    border-color: #CCCCCC;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    vertical-align: top;
    height: 20px;
    width: 45px;
}

fieldset.legende {
    padding: 10px;
}

fieldset.legende p {
    height: 20px;
    margin-top: 0;
    padding-left: 10px;
}

/** Gestion des couleurs Congés */
/** RTTs */
.codeCouleurCongeMatinRtt {
    background: url("../images/rtt.png") no-repeat scroll left 50% #BBFFBB;
}
.codeCouleurCongeMatinRtt div.wrapMatinAprem {
    background-color: #ffffff;
    width: 50%;
    height: 15px;
    float: right;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}
td.codeCouleurCongeMatinRtt{
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    text-indent: 5px;
    direction: rtl;
}

.codeCouleurCongeApresMidiRtt {
    background: none no-repeat scroll left 50% #BBFFBB;
}
.codeCouleurCongeApresMidiRtt div.wrapMatinAprem {
    background: url("../images/rtt.png") no-repeat scroll left 50% #ffffff;
    width: 50%;
    height: 15px;
    float: left;
    padding-right: 5px;
    padding-left: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: -5px;
}
td.codeCouleurCongeApresMidiRtt{
   padding-right: 5px;
   padding-left: 0px;
   padding-top: 5px;
   padding-bottom: 0px;
}

.codeCouleurCongeJourneeRtt {
    background: url("../images/rtt.png") no-repeat scroll left 50% #BBFFBB;
}
/** Conges */
.codeCouleurCongeMatinConge {
    background: url("../images/conge.png") no-repeat scroll left 50% #BBFFBB;
}
.codeCouleurCongeMatinConge div.wrapMatinAprem {
    background-color: #ffffff;
    width: 50%;
    height: 15px;
    float: right;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}
td.codeCouleurCongeMatinConge{
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    text-indent: 5px;
    direction: rtl;
}

.codeCouleurCongeApresMidiConge {
    background: none no-repeat scroll left 50% #BBFFBB;
}
.codeCouleurCongeApresMidiConge div.wrapMatinAprem {
    background: url("../images/conge.png") no-repeat scroll left 50% #ffffff;
    width: 50%;
    height: 15px;
    float: left;
    padding-right: 5px;
    padding-left: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: -5px;
}
td.codeCouleurCongeApresMidiConge{
   padding-right: 5px;
   padding-left: 0px;
   padding-top: 5px;
   padding-bottom: 0px;
}

.codeCouleurCongeJourneeConge {
    background: url("../images/conge.png") no-repeat scroll left 50% #BBFFBB;
}
/** Deplacements */
.codeCouleurCongeMatinDeplacement {
    background: url("../images/deplacement.png") no-repeat scroll left 50% transparent;
}

.codeCouleurCongeApresMidiDeplacement {
    background: url("../images/deplacement.png") no-repeat scroll left 50% transparent;
}

.codeCouleurCongeJourneeDeplacement {
    background: url("../images/deplacement.png") no-repeat scroll left 50% transparent;
}
/** Maladie */
.codeCouleurCongeMatinMaladie {
    background: url("../images/maladie.png") no-repeat scroll left 50% #BBFFBB;
}
.codeCouleurCongeMatinMaladie div.wrapMatinAprem {
    background-color: #ffffff;
    width: 50%;
    height: 15px;
    float: right;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}
td.codeCouleurCongeMatinMaladie{
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    text-indent: 5px;
    direction: rtl;
}

.codeCouleurCongeApresMidiMaladie {
    background: none no-repeat scroll left 50% #BBFFBB;
}
.codeCouleurCongeApresMidiMaladie div.wrapMatinAprem {
    background: url("../images/maladie.png") no-repeat scroll left 50% #ffffff;
    width: 50%;
    height: 15px;
    float: left;
    padding-right: 5px;
    padding-left: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: -5px;
}
td.codeCouleurCongeApresMidiMaladie{
   padding-right: 5px;
   padding-left: 0px;
   padding-top: 5px;
   padding-bottom: 0px;
}

.codeCouleurCongeJourneeMaladie {
    background: url("../images/maladie.png") no-repeat scroll left 50% #BBFFBB;
}
/** Autres */
.codeCouleurCongeMatinAutre {
    background: url("../images/autre.png") no-repeat scroll left 50% #BBFFBB;
}
.codeCouleurCongeMatinAutre div.wrapMatinAprem {
    background-color: #ffffff;
    width: 50%;
    height: 15px;
    float: right;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}
td.codeCouleurCongeMatinAutre {
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    text-indent: 5px;
    direction: rtl;
}

.codeCouleurCongeApresMidiAutre {
    background: none no-repeat scroll left 50% #BBFFBB;
}
.codeCouleurCongeApresMidiAutre div.wrapMatinAprem {
    background: url("../images/autre.png") no-repeat scroll left 50% #ffffff;
    width: 50%;
    height: 15px;
    float: left;
    padding-right: 5px;
    padding-left: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: -5px;
}
td.codeCouleurCongeApresMidiAutre{
   padding-right: 5px;
   padding-left: 0px;
   padding-top: 5px;
   padding-bottom: 0px;
}

.codeCouleurCongeJourneeAutre {
    background: url("../images/autre.png") no-repeat scroll left 50% #BBFFBB;
}

.codeCouleurVerifierMatinAprem {
    background-color: #ffc871 !important;
}

.codeCouleurErreurMatinAprem {
    background-color: #ff7171 !important;
}

div.codeCouleurCongeJournee {
    background-color: #BBFFBB;
    display: inline-block;
    float: left;
    border-color: #CCCCCC;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    vertical-align: top;
    height: 20px;
    width: 45px;
}

div.codeCouleurCongeMatin {
    background-color: #BBFFBB;
    display: inline-block;
    float: left;
    border-color: #CCCCCC;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    vertical-align: top;
    height: 20px;
    width: 45px;
}
div.codeCouleurCongeMatin div.wrapMatinAprem {
    background: none no-repeat scroll left 50% #ffffff;
    width: 50%;
    height: 20px;
    float: right;
}

div.codeCouleurCongeApresMidi {
    background-color: #BBFFBB;
    display: inline-block;
    float: left;
    border-color: #CCCCCC;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    vertical-align: top;
    height: 20px;
    width: 45px;
}
div.codeCouleurCongeApresMidi div.wrapMatinAprem {
    background: none no-repeat scroll left 50% #ffffff;
    width: 50%;
    height: 20px;
    float: left;
}

div.codeCouleurCongeRtt {
    background: url("../images/rtt.png") no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-left: 20px;
    margin-top: 10px;
    vertical-align: top;
    height: 20px;
    float: left;
}
p.rtt {
    margin-top: 10px !important;
}

div.codeCouleurCongeConge {
    background: url("../images/conge.png") no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-left: 20px;
    vertical-align: top;
    height: 20px;
    float: left;
}

div.codeCouleurCongeDeplacement {
    background: url("../images/deplacement.png") no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-top: 10px;
    vertical-align: top;
    height: 20px;
    float: left;
}
p.deplacement {
    margin-top: 10px !important;
}

div.codeCouleurCongeMaladie {
    background: url("../images/maladie.png") no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-left: 20px;
    vertical-align: top;
    height: 20px;
    float: left;
}

div.codeCouleurCongeAutre {
    background: url("../images/autre.png") no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-left: 20px;
    vertical-align: top;
    height: 20px;
    float: left;
}

/** Acordeon */
div#close {
    background: url("../images/close.png") no-repeat left;
    height: 15px;
    width: 4px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
    float: left;
}

div#open {
    background: url("../images/open.png") no-repeat left;
    height: 15px;
    width: 7px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
    float: left;
}

/** Impression */
@media print {
    form{
        display: none;
    }
}