{% extends "::base.html.twig" %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="globalmessage globalerror">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <form action="{{ path('index') }}" {{ form_enctype(formCRAU) }} method="POST">
        <div id="form">
            <fieldset>
                <legend>Compte Rendu d'Activités Unifié</legend>
                <div id="formCol">
                    {% if form_errors(formCRAU) %}
                        <div class="globalmessage globalerror">
                            {{ form_errors(formCRAU) }}
                        </div>
                    {% endif %}

                    <fieldset class="light">
                        <legend class="light">Période</legend>
                        <div id="periode">
                            <div class="form_row">
                                {{ form_label(formCRAU.datePredefini) }}
                                {{ form_widget(formCRAU.datePredefini) }}
                                <div class="date_perso">
                                    {{ form_label(formCRAU.dateDebut, 'date_debut',{'label_attr' : {'style' : 'display : none' } }) }}{{ form_widget(formCRAU.dateDebut) }}<script>$('#CRAU_dateDebut').datepicker({ dateFormat: 'dd/mm/yy' })</script>
                                    {{ form_label(formCRAU.dateFin, 'date_fin',{'label_attr' : {'style' : 'display : none' } }) }}{{ form_widget(formCRAU.dateFin) }}<script>$('#CRAU_dateFin').datepicker({ dateFormat: 'dd/mm/yy' })</script>
                                </div>
                                {% if form_errors(formCRAU.datePredefini) %}
                                    <div class="field_error">
                                        {{ form_errors(formCRAU.datePredefini) }}
                                    </div>
                                {% endif %}
                                {% if form_errors(formCRAU.dateDebut) %}
                                    <div class="field_error">
                                        {{ form_errors(formCRAU.dateDebut) }}
                                    </div>
                                {% endif %}
                                {% if form_errors(formCRAU.dateFin) and not form_errors(formCRAU.dateDebut) %}
                                    <div class="field_error">
                                        {{ form_errors(formCRAU.dateFin) }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </fieldset>

                    <input type="submit" value="Valider" class="valider" />
                </div>
            </fieldset>
            {{ form_row(formCRAU._token) }}
        </div>
    </form>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/cpcomcrau/js/indexForm.js') }}"></script>
{% endblock %}