<fieldset class="legende">
    <legend>Légende</legend>
    <div class="codeCouleurVerifier"></div><p>Possibilité d'erreur dans le nombre d'heure saisie</p>
    <div></div>
    <div class="codeCouleurErreur"></div><p>Erreur dans le nombre d'heure saisie</p>
    <div></div>
    <div class="weekend"></div><p>Week end et jours fériés</p>
    <div></div>
    <div class="rienASignaler"></div><p>Saisie correcte</p>
    <div></div>
    <div class="codeCouleurCongeJournee"></div><p>Absence journée</p>
    <div></div>
    <div class="codeCouleurCongeMatin"><div class="wrapMatinAprem"></div></div><p>Absence matin</p>
    <div></div>
    <div class="codeCouleurCongeApresMidi"><div class="wrapMatinAprem"></div></div><p>Absence après midi</p>
    <fieldset class="light">
        <legend>Type d'absence</legend>
        <div class="codeCouleurCongeRtt"></div><p class="rtt">RTT</p>
        <div></div>
        <div class="codeCouleurCongeConge"></div><p>Congé</p>
        <div></div>
        <div class="codeCouleurCongeMaladie"></div><p>Maladie</p>
        <div></div>
        <div class="codeCouleurCongeAutre"></div><p>Autre</p>
    </fieldset>
    <div></div>
    <div class="codeCouleurCongeDeplacement"></div><p class="deplacement">Déplacement</p>
</fieldset>