{% extends "CPCOMCRAUBundle:Default:index.html.twig" %}

{% block result %}
    <div class="result">
        <table>
            <thead>
                <tr>
                    {% set i = 0 %}
                    {% for oneColonne in result['head'] %}
                        {% if (i == 0) %}
                            <th class="thUtilisateur">{{ oneColonne }}</th>
                        {% else %}
                            <th>{{ oneColonne }}</th>
                        {% endif %}
                        {% set i = i + 1 %}
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for service, utilisateur in result['body'] %}
                    <tr class="services" id="{{ service }}">
                        {% set colspan = (result['head']|length) %}
                        <td class="services" colspan="{{ colspan }}">{{ service }}</td>
                    </tr>
                    {% for utilisateurId, oneUtilisateur in utilisateur %}
                        {% if (substr(utilisateurId, 0, 12) == 'totalService') %}
                            <tr class="ligneutilisateur {{ service }} {{ utilisateurId }}">
                        {% else %}
                            <tr class="ligneutilisateur {{ service }}" id="{{ utilisateurId }}">
                        {% endif %}
                            {% if (oneUtilisateur['totalRedmineGLPI'] is defined and oneUtilisateur['prestataire']) %}
                                    <td class="user">{{ oneUtilisateur['redminePrenom']~' '~oneUtilisateur['redmineNom']~ ' (Prestataire)'  }}</td>
                            {% else %}
                                <td class="user">{{ oneUtilisateur['redminePrenom']~' '~oneUtilisateur['redmineNom']  }}</td>
                            {% endif %}
                            {% if (oneUtilisateur['totalRedmineGLPI'] is defined) %}
                                {% for oneDate, oneTotalRedmineGLPI in oneUtilisateur['totalRedmineGLPI'] %}
                                    {# Gestion code couleur #}
                                    {% if is_weekend(oneDate) or is_ferie(oneDate) %}
                                        {% set codeCouleur = 'weekend' %}
                                    {% elseif (oneDate == 'total') %}
                                        {% set codeCouleur = 'totalLigne' %}
                                    {% elseif (oneTotalRedmineGLPI['conges'] is defined) %}
                                        {% if (oneTotalRedmineGLPI['conges']['m'] is defined) %}
                                            {% set typeAbscence = type_conge(oneTotalRedmineGLPI['conges']['m']['type']) %}
                                            {% set codeCouleur = 'codeCouleurCongeMatin'~typeAbscence %}
                                        {% elseif (oneTotalRedmineGLPI['conges']['a'] is defined) %}
                                            {% set typeAbscence = type_conge(oneTotalRedmineGLPI['conges']['a']['type']) %}
                                            {% set codeCouleur = 'codeCouleurCongeApresMidi'~typeAbscence %}
                                        {% elseif (oneTotalRedmineGLPI['conges']['j'] is defined) %}
                                            {% set typeAbscence = type_conge(oneTotalRedmineGLPI['conges']['j']['type']) %}
                                            {% set codeCouleur = 'codeCouleurCongeJournee'~typeAbscence %}
                                        {% endif %}
                                        {% if (newDateTimeCreateFromFormat('d/m/Y', newDateTime('now').format('d/m/Y')) >= newDateTimeCreateFromFormat('d/m/Y', oneDate)) %}
                                            {% if (typeAbscence == 'Deplacement') %}
                                                {% if (oneTotalRedmineGLPI['heures'] != 8) %}
                                                    {% set codeCouleur = codeCouleur~' codeCouleurErreur' %}
                                                {% endif %}
                                            {% else %}
                                                {% if (substr(codeCouleur, 0, 21) == 'codeCouleurCongeMatin' or substr(codeCouleur, 0, 25) == 'codeCouleurCongeApresMidi') %}
                                                    {% if (oneTotalRedmineGLPI['heures'] != 4) %}
                                                        {% set codeCouleur = codeCouleur~' codeCouleurErreurMatinAprem' %}
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    {% else %}
                                        {% if (oneUtilisateur['prestataire']) %}
                                            {% if (newDateTimeCreateFromFormat('d/m/Y' , newDateTime('now').format('d/m/Y')) >= newDateTimeCreateFromFormat('d/m/Y', oneDate)) %}
                                                {% if (oneTotalRedmineGLPI['heures'] == 0 or oneTotalRedmineGLPI['heures'] == 4) %}
                                                    {% set codeCouleur = 'codeCouleurVerifier' %}
                                                {% elseif ((oneTotalRedmineGLPI['heures'] < 4 and oneTotalRedmineGLPI['heures'] > 0) or (oneTotalRedmineGLPI['heures'] < 8 and oneTotalRedmineGLPI['heures'] > 4) or (8 < oneTotalRedmineGLPI['heures'])) %}
                                                    {% set codeCouleur = 'codeCouleurErreur' %}
                                                {% else %}
                                                    {% set codeCouleur = '' %}
                                                {% endif %}
                                            {% else %}
                                                {% set codeCouleur = '' %}
                                            {% endif %}
                                        {% else %}
                                            {% if (newDateTimeCreateFromFormat('d/m/Y' , newDateTime('now').format('d/m/Y')) >= newDateTimeCreateFromFormat('d/m/Y', oneDate)) %}
                                                {% if (oneTotalRedmineGLPI['heures'] != 8) %}
                                                    {% set codeCouleur = 'codeCouleurErreur' %}
                                                {% else %}
                                                    {% set codeCouleur = '' %}
                                                {% endif %}
                                            {% else %}
                                                {% set codeCouleur = '' %}
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                    {# Fin Gestion code couleur #}
                                    {% if (substr(codeCouleur, 0, 21) == 'codeCouleurCongeMatin') %}
                                        <td class="{{ codeCouleur }}"><div class="wrapMatinAprem">{{ oneTotalRedmineGLPI['heures'] }}</div></td>
                                    {% elseif (substr(codeCouleur, 0, 25) == 'codeCouleurCongeApresMidi') %}
                                        <td class="{{ codeCouleur }}"><div class="wrapMatinAprem"></div>{{ oneTotalRedmineGLPI['heures'] }}</td>
                                    {% else %}
                                        <td class="{{ codeCouleur }}">{{ oneTotalRedmineGLPI['heures'] }}</td>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                {% if (utilisateurId == 'totalService') %}
                                    {% set i = 0 %}
                                    {% for oneTotalService in oneUtilisateur %}
                                        {% if (i>1) %}
                                            <td>{{ oneTotalService }}</td>
                                        {% endif %}
                                        {% set i=i+1 %}
                                    {% endfor %}
                                {% else %}
                                    {% set i = 0 %}
                                    {% for i in 0..colspan-2 %}
                                        {% set i=i+1 %}
                                        <td class="codeCouleurVerifier">0</td>
                                    {% endfor %}
                                {% endif %}
                            {% endif %}
                        </tr>
                        {% if (oneUtilisateur['tacheRedmine'] is defined or oneUtilisateur['tacheGLPI'] is defined) %}
                            {% if (oneUtilisateur['tacheRedmine'] is defined) %}
                                {% for idTacheRedmine, oneTacheRedmine in oneUtilisateur['tacheRedmine'] %}
                                    <tr class="{{ utilisateurId }} tache {{ service }}">
                                        <td class="tdTacheDebut"><a href="http://redmine/issues/{{idTacheRedmine}}" target=_blank>{{ oneTacheRedmine['nom'] }}</a></td>
                                        {% for oneDate, oneHeure in oneTacheRedmine['date'] %}
                                            {% if is_weekend(oneDate) or is_ferie(oneDate) %}
                                                <td class="weekend">{{ oneHeure }}</td>
                                            {% else %}
                                                <td>{{ oneHeure }}</td>
                                            {% endif %}
                                        {% endfor %}
                                        <td>{{ oneTacheRedmine['total'] }}</td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            {% if (oneUtilisateur['tacheGLPI'] is defined) %}
                                {% for idTacheGLPI, oneTacheGLPI in oneUtilisateur['tacheGLPI'] %}
                                    <tr class="{{ utilisateurId }} tache {{ service }}">
                                        <td class="tdTacheDebut"><a href="http://glpi/front/ticket.form.php?id={{idTacheGLPI}}&" target=_blank>{{ oneTacheGLPI['nom'] }}</a></td>
                                        {% for oneDate, oneHeure in oneTacheGLPI['date'] %}
                                            {% if is_weekend(oneDate) or is_ferie(oneDate) %}
                                                <td class="weekend">{{ oneHeure }}</td>
                                            {% else %}
                                                <td>{{ oneHeure }}</td>
                                            {% endif %}
                                        {% endfor %}
                                        <td>{{ oneTacheGLPI['total'] }}</td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                <tr class="total">
                    {% set totalLength = (result['foot']|length)-1 %}
                    {% set i = 0 %}
                    {% for oneFoot in result['foot'] %}
                        {% if i == totalLength %}
                            <td class="tdTotalFin">{{ oneFoot }}</td>
                        {% elseif (i == 0) %}
                            <td class="tdTotalDebut">{{ oneFoot }}</td>
                        {% else %}
                            <td>{{ oneFoot }}</td>
                        {% endif %}
                        {% set i = i + 1 %}
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
    {% include 'CPCOMCRAUBundle:Default:legende.html.twig' %}
{% endblock %}